* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 800px;
    width: 100%;
    background-color: #2c2c2c;
    color: #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.container {
    width: 100%;
    padding: 0 40px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    align-items: center;
}

.navbar h1 {
    color: rgb(199, 132, 6);
    font-weight: 700;
    font-size: 2.2rem;
    margin-right: 40px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.navbar ul li a:hover {
    background-color: orange;
    color: #000;
}

.content h1 {
    font-size: 3.5rem;
    color: rgb(199, 132, 6);
    margin-bottom: 40px;
    font-weight: 900;
}

.carro-imagem {
    width: 80%;
    max-width: 650px;
    border-radius: 12px;
    user-select: none;
    transition: transform 0.4s ease;
    margin-bottom: 40px;
}

.botoes-container {
    display: flex;
    margin-bottom: 30px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.botao-conta {
    background: transparent;
    border: 2px solid rgb(199, 132, 6);
    color: #fff;
    padding: 15px 35px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.4s ease;
    text-decoration: none;
}

.botao-conta:hover {
    background: rgb(199, 132, 6);
    color: #000;
    border: none;
}

@media(max-width: 600px) {
    .content h1 {
        font-size: 2.8rem;
    }

    .botao-conta {
        width: 80%;
        padding: 15px 0;
        font-size: 1rem;
    }

    .carro-imagem {
        width: 100%;
    }
}