* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: rgb(255, 255, 255);
  color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 40px;
}



.logo img {
  width: 190px;
  height: auto;
  margin-bottom: 20px;
  
    padding: 25px;
    display: inline-block;
    border-radius: 12px;
    margin: 10px 0;
 
  
}

.container {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.card {
  
  
  margin-top: 80px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border: 1px solid #000000;
  max-width: 900px;
  width: 100%;
}

header {
  padding: 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  color: #000;
  
}

.perfil, .painel-status, .veiculo {
   
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  color: #000;
  padding: 24px;
  margin: 24px 0;
  border-radius: 12px;
  border: 1px solid  #000000;
}

.perfil img {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  margin-bottom: 16px;
}

.perfil-info h2 {
  margin-bottom: 8px;
}

.car-info{
    margin-bottom: 8px;
    padding: 12px 0 0 0;
}

.badge {
  padding: 6px 10px;
  border-radius: 12px;
  font-size: 14px;
  display: inline-block;
  color: #fff;
}

.ativo {
  background-color: #4CAF50;
}

.inativo {
  background-color: #F44336;
}

button.acao {
  padding: 6px 10px;
  border: 1px solid #000;
  border-radius: 12px;
  background-color: #000;
  color: #ffffff;
  cursor: pointer;
  margin: 0 0 0 0;
  transition: background-color 0.3s ease;
  display: inline-block;
  vertical-align: middle;
}

button.acao:hover {
  background-color: #333;
}

.painel-status table {
  width: 100%;
  border-spacing: 0 12px;
}

.painel-status th, .painel-status td {
  text-align: left;
  padding: 12px;
}

.painel-status tr {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #000;
  border-radius: 12px;
}

.painel-status td img {
  width: 40px;
  height: 40px;
  border-radius: 12px;
}

.toper{

background: linear-gradient(to right, rgba(255, 82, 82, 1), rgba(255, 184, 84, 1));

    width: 100%; /* Ocupa toda a largura */
    padding: 10px 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
    position: fixed; /* Fixa no topo ao rolar */
    top: 0;
    left: 0;
    z-index: 1000;
    min-height: 60px;
    border-bottom: 1px solid #e0e0e0;
    
}


